.promo-footer {
    height: 100px;
    background-color: #367C2B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: start;
    color: #DDFFD8;
    ;
  }

h3 {
    margin: 0;
}

.rights {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}