.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.header {
    height: 100px;
    font-family: Inter, sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-weight: 360;
    color: #FFFFFF;
    background-color: #367C2B;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header-logoname {
    margin-left: 50px;
}